*Import pandas library and read the csv file(Kaggle data) and assigning into a dataframe.*

In [1]:
import pandas as pd
df = pd.read_csv('data (1).csv',parse_dates=['Date_Time'])
df.head()

            Date_Time  Active Power (kw)  Wind Speed (miles/hr)
0 2018-01-01 00:20:00         380.064524              12.079133
1 2018-01-01 00:50:00         400.896200              12.557933
2 2018-01-01 01:20:00         432.833038              12.440135
3 2018-01-01 01:50:00         488.241211              12.811360
4 2018-01-01 02:20:00         706.848022              14.355594

*Rename the column in dataframe.*

In [2]:
df.rename(columns = {'Date_Time':'Date'}, inplace = True)

In [3]:
df.head()

                 Date  Active Power (kw)  Wind Speed (miles/hr)
0 2018-01-01 00:20:00         380.064524              12.079133
1 2018-01-01 00:50:00         400.896200              12.557933
2 2018-01-01 01:20:00         432.833038              12.440135
3 2018-01-01 01:50:00         488.241211              12.811360
4 2018-01-01 02:20:00         706.848022              14.355594

*Assign the kaggle data of january month to new data frame.*

In [4]:
dfn = df[0:1488]

In [5]:
dfn.tail()

                    Date  Active Power (kw)  Wind Speed (miles/hr)
1483 2018-01-31 21:50:00         799.017843              15.054775
1484 2018-01-31 22:20:00         903.105123              15.563298
1485 2018-01-31 22:50:00         758.728760              14.776648
1486 2018-01-31 23:20:00        1036.663330              16.205472
1487 2018-01-31 23:50:00         894.865072              15.407909

*Read the weather data file of january month and assing into a dataframe.*

In [6]:
df1 = pd.read_csv('jan.csv',parse_dates=['Date'])
df1.head()

                 Date Tempreature    Dp Humidity  Pressure
0 2018-01-01 00:20:00        43 F  41 F     93 %  29.75 in
1 2018-01-01 00:50:00        43 F  39 F     87 %  29.75 in
2 2018-01-01 01:20:00        45 F  39 F     81 %  29.75 in
3 2018-01-01 01:50:00        45 F  39 F     81 %  29.75 in
4 2018-01-01 02:20:00        45 F  41 F     87 %  29.75 in

In [7]:
df1.tail()

                    Date Tempreature    Dp Humidity  Pressure
1532 2018-01-31 21:50:00        45 F  30 F     57 %  29.87 in
1533 2018-01-31 22:20:00        43 F  30 F     61 %  29.87 in
1534 2018-01-31 22:50:00        43 F  28 F     57 %  29.87 in
1535 2018-01-31 23:20:00        43 F  30 F     61 %  29.87 in
1536 2018-01-31 23:50:00        41 F  30 F     65 %  29.87 in

*Merge the two dataframes.*

In [8]:
df2 = pd.merge(dfn,df1,how='left',on='Date')

In [9]:
df2.head()

,Date,Active Power (kw),Wind Speed (miles/hr),Tempreature,Dp,Humidity,Pressure
0,2018-01-01 00:20:00,380.064524,12.079133,43 F,41 F,93 %,29.75 in
1,2018-01-01 00:50:00,400.896200,12.557933,43 F,39 F,87 %,29.75 in
2,2018-01-01 01:20:00,432.833038,12.440135,45 F,39 F,81 %,29.75 in
3,2018-01-01 01:50:00,488.241211,12.811360,45 F,39 F,81 %,29.75 in
4,2018-01-01 02:20:00,706.848022,14.355594,45 F,41 F,87 %,29.75 in

*Check how many null values are present in data.*

In [10]:
df2.isnull().sum()

Date                      0
Active Power (kw)         0
Wind Speed (miles/hr)     0
Tempreature              62
Dp                       62
Humidity                 62
Pressure                 62
dtype: int64

*Fill the NaN values with mode of the individual corresponding coloumns.*

In [11]:
df2['Tempreature'].fillna(df2['Tempreature'].mode()[0],inplace=True)
df2['Dp'].fillna(df2['Dp'].mode()[0],inplace=True)
df2['Humidity'].fillna(df2['Humidity'].mode()[0],inplace=True)
df2['Pressure'].fillna(df2['Pressure'].mode()[0],inplace=True)

*Recheck how many null values are present in data to make sure all NaN values are filled.*

In [12]:
df2.isnull().sum()

Date                     0
Active Power (kw)        0
Wind Speed (miles/hr)    0
Tempreature              0
Dp                       0
Humidity                 0
Pressure                 0
dtype: int64

In [13]:
df2.tail()

,Date,Active Power (kw),Wind Speed (miles/hr),Tempreature,Dp,Humidity,Pressure
1537,2018-01-31 21:50:00,799.017843,15.054775,45 F,30 F,57 %,29.87 in
1538,2018-01-31 22:20:00,903.105123,15.563298,43 F,30 F,61 %,29.87 in
1539,2018-01-31 22:50:00,758.728760,14.776648,43 F,28 F,57 %,29.87 in
1540,2018-01-31 23:20:00,1036.663330,16.205472,43 F,30 F,61 %,29.87 in
1541,2018-01-31 23:50:00,894.865072,15.407909,41 F,30 F,65 %,29.87 in

*Save the dataframe into csv file.*

In [14]:
df2.to_csv('janfinal.csv')