*Import pandas library and read csv file and assigning into a dataframe.*

In [1]:
import pandas as pd
df = pd.read_excel('january.xlsx')
df.head()

       Date Tempreature    Dp Humidity WindSpeed  Pressure
0  00:20:00        43 F  41 F     93 %     7 mph  29.75 in
1  00:50:00        43 F  39 F     87 %     7 mph  29.75 in
2  01:20:00        45 F  39 F     81 %     7 mph  29.75 in
3  01:50:00        45 F  39 F     81 %     7 mph  29.75 in
4  02:20:00        45 F  41 F     87 %     8 mph  29.75 in

In [2]:
df.tail()

          Date Tempreature    Dp Humidity WindSpeed  Pressure
1532  21:50:00        45 F  30 F     57 %     6 mph  29.87 in
1533  22:20:00        43 F  30 F     61 %     6 mph  29.87 in
1534  22:50:00        43 F  28 F     57 %     3 mph  29.87 in
1535  23:20:00        43 F  30 F     61 %     6 mph  29.87 in
1536  23:50:00        41 F  30 F     65 %     5 mph  29.87 in

*Initialize the value of x.*

In [3]:
x=0

*Function to add date in dataframe.*

In [4]:
def convert24(str1,i):
    global x
       
    
    if str1[0:5] == '00:20':
        x=x+1
        return str(x)+"-01-2018 "+str1[0:]
    
    
    return str(x) +"-01-2018 " +str1[0:]

*Apply for loop to apply convert24 function to all entries in Date coloumn.*

In [5]:
x=0
for i in range(0,1537):
    
    
    df.Date[i]=convert24(str(df.Date[i]),i)

In [6]:
df.head()

                 Date Tempreature    Dp Humidity WindSpeed  Pressure
0  1-01-2018 00:20:00        43 F  41 F     93 %     7 mph  29.75 in
1  1-01-2018 00:50:00        43 F  39 F     87 %     7 mph  29.75 in
2  1-01-2018 01:20:00        45 F  39 F     81 %     7 mph  29.75 in
3  1-01-2018 01:50:00        45 F  39 F     81 %     7 mph  29.75 in
4  1-01-2018 02:20:00        45 F  41 F     87 %     8 mph  29.75 in

In [7]:
df.tail()

                     Date Tempreature    Dp Humidity WindSpeed  Pressure
1532  31-01-2018 21:50:00        45 F  30 F     57 %     6 mph  29.87 in
1533  31-01-2018 22:20:00        43 F  30 F     61 %     6 mph  29.87 in
1534  31-01-2018 22:50:00        43 F  28 F     57 %     3 mph  29.87 in
1535  31-01-2018 23:20:00        43 F  30 F     61 %     6 mph  29.87 in
1536  31-01-2018 23:50:00        41 F  30 F     65 %     5 mph  29.87 in

*Save the dataframe into csv file.*

In [8]:
df.to_csv('january1.csv')